// Start Variables
$main-color: #ff7766;
$secondary-color: #2B9D9D;

// Strat General Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn__primary {
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 12px 40px;
  color: #fff;
  background-color: $main-color;
  letter-spacing: 1px;
  transition: background 0.4s ease-out;

  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

.btn__outline {
  border: 0;
  border: 2px solid $main-color;
  border-radius: 5px;
  padding: 12px 25px;
  color: $main-color;
  background-color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: #fff;
    background-color: $main-color;
  }
}

// Strat General Styles

// Start Header Section
.header {
  background-color: #fafafa;
}

.brand__name {
  margin: 0;
  padding: 12px 40px;
  padding-right: 0;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #444 !important;

  &:hover {
    color: $main-color;
  }
}

.brand__name:hover {
  color: $main-color !important;
}

.hamburger__menu {
  padding: 5px;
  border: 2px solid rgba(68, 68, 68, 0.5) !important;
  border-radius: 0;
  cursor: pointer;

  i {
    font-size: 23px;
  }
}

.header__navbar {
  padding: 0;
}


.navbar__list {
  .navbar__item:first-of-type {
    .navbar__link {
      margin-top: 15px;
    }
  }
}

.navbar__link {
  display: block;
  padding: 22px !important;
  font-weight: 700;

  &:hover {
    color: $main-color !important;
    background-color: #eee;
  }

  &.active {
    color: $main-color !important;
    background-color: #eee;
  }
}

@media screen and (min-width:992px) {
  .header {
    padding: 0;
  }

  .navbar__container {
    ul {
      width: 100%;
    }
  }

  .navbar__link {
    border: 0;
  }

  .navbar__list {
    .navbar__item:first-of-type {
      .navbar__link {
        margin-top: 0;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
      }
    }
  }

}

// End Header Section

// Start Hero Section
.hero__carousel {
  .carousel__indicators {
    button {
      margin: 0 7px;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      &.active {
        background-color: $main-color;
      }
    }

  }

  .carousel__container {
    .carousel__item {
      height: 550px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(65, 155, 155, 0.8);
      background-blend-mode: multiply;

      .carousel__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        text-align: center;

        .carousel__title {
          font-size: 30px;
          line-height: 1.4;

          span {
            display: none;
          }
        }

        .carousel__description {
          margin-top: 7px;
          margin-bottom: 20px;
          padding: 0 10px;
          color: rgba(255, 255, 255, 0.6);
          font-size: 15px;
          line-height: 1.6;
          letter-spacing: 1px;
        }
      }
    }

    .carousel__item:nth-of-type(1) {
      background-image: url('../images/hero/hero-slide-1.webp');
    }

    .carousel__item:nth-of-type(2) {
      background-image: url('../images/hero/hero-slide-2.webp');
    }

    .carousel__item:nth-of-type(3) {
      background-image: url('../images/hero/hero-slide-3.webp');
    }
  }

  .carousel__arrow {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .hero__carousel {
    .carousel__container {
      .carousel__item {
        .carousel__content {
          .carousel__title {
            font-size: 35px;
            font-weight: 600;

            span {
              display: inline;
            }
          }
        }
      }
    }

    .carousel__btn {
      display: block;
    }
  }
}

@media screen and (min-width:992px) {
  .hero__carousel {
    .carousel__container {
      .carousel__item {
        height: 615px;
      }
    }

    .carousel__arrow {
      display: block;
    }
  }
}

// End Hero Section

// Start About Section
.about {
  padding: 50px 0;

  .about__content {
    text-align: center;

    .about__title {
      font-weight: 600;
      letter-spacing: 3px;
    }

    .about__description {
      margin: 25px 0;
      color: #666;
      line-height: 1.7;

      span {
        display: none;
      }
    }
  }
}

@media screen and (min-width:992px) {
  .about {
    padding: 80px 0;

    .about__content {
      .about__description {
        letter-spacing: 1px;

        span {
          display: inline;
        }
      }
    }
  }
}

// End About Section


// Start Startup Name Section

.brand-name {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60vh;
  background-attachment: fixed;
  background-image: url("../images/laptop1.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;

  .brand-name__content {
    color: #fff;
    text-align: center;

    h3 {
      border: 5px solid #fff;
      padding: 12px 50px;
      color: $secondary-color;
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 5px;
    }

    p {
      margin-top: 20px;
      color: #fafafa;
      font-size: 16px;
      letter-spacing: 2px;
    }
  }
}

@media screen and (min-width:992px) {
  .brand-name {
    height: 80vh;
  }
}

// End Startup Name Section

// Start Projects Section
.projects {
  padding: 70px 0;
  background-color: #eef7ff;

  .projects__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
  }

  .projects__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .project__item {
      position: relative;
      border: 3px solid rgb(230, 230, 230);
      width: 100%;
      height: 280px;
      background-size: cover;
      background-position: center;
      cursor: pointer;

      .project__category {
        margin-top: 20px;
        display: inline-block;
        padding: 7px 10px;
        color: #fff;
        background-color: $main-color;
        letter-spacing: 2px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        transition: all 0.4s ease-in-out;

      }

      .project__overlay {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 0;
        background-color: rgba(64, 155, 155, 0.9);
        transition: all 0.4s ease-in-out;
        text-align: center;
        overflow: hidden;

        .overlay__content {
          color: #fff;

          .overlay__title {
            font-weight: 700;
            letter-spacing: 1px;
          }

          .overlay__description {
            margin-bottom: 40px;
            color: rgba(250, 250, 250, 0.8);
            font-size: 14px;
          }

          .overlay__btn {
            border: 2px solid #fff;
            padding: 7px 25px;
            color: #fff;
            background-color: #272727;
            font-weight: 600;

            &:hover {
              background-color: #000;

            }
          }
        }
      }

      &:hover .project__overlay {
        height: 100%;
      }

      &:hover .project__category {
        opacity: 0;
      }
    }

    .project__item:nth-of-type(1) {
      background-image: url("../images/projects/1.webp");
    }

    .project__item:nth-of-type(2) {
      background-image: url("../images/projects/2.webp");
    }

    .project__item:nth-of-type(3) {
      background-image: url("../images/projects/3.webp");
    }

    .project__item:nth-of-type(4) {
      background-image: url("../images/projects/4.webp");
    }

    .project__item:nth-of-type(5) {
      background-image: url("../images/projects/5.webp");
    }

    .project__item:nth-of-type(6) {
      background-image: url("../images/projects/6.webp");
    }
  }
}

@media screen and (min-width:768px) {

  .projects {

    .projects__content {
      gap: 40px;

      .project__item {
        width: calc(50% - 20px);
      }

    }
  }

}

@media screen and (min-width:992px) {

  .projects {
    padding: 80px 0;

    .projects__title {
      margin-bottom: 70px;
    }

    .projects__content {
      gap: 30px;

      .project__item {
        width: calc(33.33% - 20px);

      }

    }
  }

}

// End Projects Section

// Start Testimonials Section
.testimonials {
  padding: 70px 0;
  background-attachment: fixed;
  background-image: url("../images/time.jpg");
  background-size: cover;
  background-position: position;
  background-color: #2B9D9D;
  background-blend-mode: multiply;

  .testimonials__title {
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
  }

  .testimonials__content {
    .carousel {
      .carousel-inner {
        .carousel-item {
          .testimonial__container {
            display: flex;
            justify-content: center;

            .testimonial {
              border: 3px solid #eee;
              border-radius: 5px;
              padding: 20px;
              background-color: #fff;
              text-align: center;

              div {
                margin-bottom: 10px;

                img {
                  border-radius: 50%;
                  border: 3px solid #eee;
                }
              }

              p {
                color: #666;
                letter-spacing: 1px;
              }
            }

            .testimonial.hide {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:992px) {
  .testimonials {
    padding: 100px 0;
    padding-bottom: 120px;

    .testimonials__content {
      .carousel {
        .carousel-inner {
          .carousel-item {
            .testimonial__container {
              display: flex;
              justify-content: center;
              gap: 40px;

              .testimonial.hide {
                display: block;
              }
            }
          }
        }
      }

      button {
        i {
          font-size: 30px;
          color: #fff !important;
          opacity: 0;
        }
      }

      .carousel-control-prev {
        right: -110px;
      }

      .carousel-control-next {
        left: -110px;
      }
    }
  }

}

// End Testimonials Section

// Start Clients Section
.clients {
  padding: 50px 0;
  background-color: #f1f1f1;

  .clients__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    img {
      border: 5px solid #fff;
      width: calc(50% - 20px);
      max-width: 150px;
    }
  }
}

@media screen and (min-width:768px) {
  .clients {
    padding: 70px 0;

    .clients__content {
      gap: 40px;
    }
  }
}

// End Clients Section

// Start Posts Section
.posts {
  padding: 50px 0;

  .posts__title {
    text-align: center;
    margin-bottom: 40px;
  }

  .posts__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    .post {
      border: 2px solid #eee;
      max-width: 500px;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

      .post__image {
        border: 2px solid #eee;

        img {
          width: 100%;
        }

      }

      .post__text {
        position: relative;
        bottom: 45px;
        margin: 25px;
        margin-bottom: 0;
        padding: 20px 10px;
        border: 2px solid #eee;
        background-color: #fff;
        text-align: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        p {
          color: gray;
          font-size: 15px;
        }

        button {
          &:hover {
            color: $main-color;
            border-color: $main-color;
          }
        }

      }
    }
  }
}

@media screen and (min-width : 992px) {
  .posts {
    padding: 80px 0;

    .posts__title {
      margin-bottom: 50px;
    }

    .posts__content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  }
}

// End Posts Section

// Start About Section
.about-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("../images/team1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2B9D9D;
  background-blend-mode: multiply;

  h1 {
    color: #fff;
    font-size: 50px;
  }
}

.about {
  padding: 70px !important;
}

.about__team {
  margin-bottom: 70px;
}

.banner--about {
  background-image: url("../images/banner-about.jpg");
}

.about__team__content {
  justify-content: center;
}

.about__team__item {
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid #eee;
  width: 90%;
  text-align: center;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.03);
}

.team__image {
  margin-bottom: 10px;
}

.team__name {
  color: $main-color;
  font-weight: 500;
}

.team__job {
  margin: 0;
}

.team__line {
  margin-bottom: 5px;
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: $main-color;
}

.team__description {
  color: #666;
  font-size: 15px;
  line-height: 1.6;
}

.team__social__media {
  .icon {
    margin: 0 5px;
    color: #666;
  }
}




@media screen and (min-width:575px) {
  .about__team__content {
    justify-content: space-between;
  }

  .about__team__item {
    width: 48%;
  }
}

@media screen and (min-width:992px) {
  .about-banner {
    background-position-y: -120px;
  }

  .about__team__content {
    justify-content: space-between;
  }

  .about__team__item {
    width: 31%;
  }
}

// End About Section

// Start Projects Banner Section
.projects-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("../images/projects.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2B9D9D;
  background-blend-mode: multiply;

  h1 {
    color: #fff;
    letter-spacing: 3px;
  }
}

// End Projects Banner Section

// Start Our Projects Section

.our-projects {
  padding: 50px 0;

  .container {
    .our-projects__content {
      .our-projects__item {
        margin: 0;
        padding: 0;
        border: 20px solid #fff;

        .our-projects__image {
          position: relative;

          img {
            display: block;
            width: 100%;
            border: 2px solid #eee;
            border-bottom: 0;
          }

          .our-projects__tag {
            position: absolute;
            top: 20px;
            right: 2px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 5px 9px;
            color: #fff;
            background-color: $main-color;
            font-weight: 600;
          }
        }

        .our-projects__text {
          padding: 20px 10px;
          text-align: center;
          border: 2px solid #eee;

          .our-projects__description {
            color: #666;
          }

          .our-projects__btn {
            display: inline-block;
            margin: 10px 0;
            border: 2px solid #ff7766;
            border-radius: 3px;
            padding: 7px 20px;
            color: #ff7766;
            text-decoration: none;

            &:hover {
              color: #fff;
              background-color: #ff7766;
            }
          }
        }
      }
    }
  }
}

// End Our Projects Section

// Start Projects Details Section

.projects-details {
  padding: 50px 0;

  .projects-details__item {
    img {
      border: 3px solid #eee;
    }
  }

}

// End Projects Details Section

// Start Projects Details Description

.projects-details-description {
  margin-bottom: 50px;
  text-align: center;

  .projects-details-description__content {
    padding: 40px 30px;
    border: 1px solid #eee;

    p {
      color: #666;
      font-size: 14px;
    }

    button {
      border: 2px solid #ff7766;

      &:hover {
        color: #ff7766;
        border-color: #ff7766;
      }
    }
  }

  .projects-details-description__description {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #666;
    line-height: 1.8;
    letter-spacing: 1px;
  }
}

@media screen and (min-width:992px) {
  .projects-details {
    padding: 80px 0;
  }
}

// End Projects Details Description

// Start Blog Banner Section
.blog-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("../images/blog.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2B9D9D;
  background-blend-mode: multiply;

  h1 {
    color: #fff;
    font-size: 50px;
  }
}

// End Blog Banner Section

// Start Blog Section
.blog {
  padding: 70px 0;
}

.blog__search {
  order: 1;
}

.blog__search__box {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);

  hr {
    margin: 30px 0;
    color: rgba(68, 68, 68, 0.473);
    height: 1px;
  }
}

.blog__search__form {
  display: flex;

  input {
    width: 100%;
    border: 1px solid #eee;
  }

  button {
    margin: 0;
    padding: 7px 20px;
    border-radius: 0;

    &:hover {
      background-color: #dd5947;
    }
  }
}

.blog__search__btn {
  width: 100%;
  border: 2px solid #ff7766;
  padding: 12px 0;
  color: #fff;
  background-color: #ff7766;
  font-weight: 600;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.06);

  &:hover {
    color: #ff7766;
    background-color: #fff;
  }
}

.blog__posts {
  padding: 0;
}

.blog__post {
  margin-bottom: 40px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.03);
}

.blog__post__image {
  padding: 0;
  border: 3px solid #eee;
  border-left: 0;

  img {
    width: 100%;
  }
}

.blog__post__text {
  padding: 20px;
  border: 1px solid #eee;
  text-align: center;
}

.blog__post__description {
  margin: 20px 0;
  color: #666;
  font-size: 15px;
  letter-spacing: 1px;
}

.blog__post__btn {
  display: inline-block;
  margin-top: 22 !important;
  border: 2px solid #ff7766;
  border-radius: 3px;
  padding: 7px 15px !important;
  color: #ff7766;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: #ff7766;
  }
}

@media screen and (min-width:768px) {
  .blog__post__text {
    text-align: right;
  }
}

@media screen and (min-width:992px) {
  .blog {
    padding: 100px 0 60px 0;
    margin: auto;
    width: 750px;
  }

  .blog__posts {
    padding-right: 40px;
  }
}

@media screen and (min-width:1200px) {
  .blog {
    margin: 0;
    width: 100%;
  }

  .blog__search {
    order: 0;
  }
}

// End Blog Section

// Start Blog Post Section
.blog__post__details {
  padding: 60px 0;
}


.blog__post__details__content {
  padding: 0;
  border: 1px solid #eee;

}

.blog__post__details__image {
  img {
    width: 100%;
    display: block;
  }
}

.blog__post__details__text {
  padding: 30px;
  padding-bottom: 0;
}

.blog__post__description {
  color: #666;
  font-size: 18px;
  line-height: 1.7;
}

.blog__post__subtitle {
  color: $main-color;
  font-weight: 600;
}

.blog__post__details__media {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {

    margin: 0 5px;
    font-size: 40px;
    color: #666;
  }
}

// End Blog Post Section

// Start Contact Section
.contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("../images/contact.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2B9D9D;
  background-blend-mode: multiply;

  h1 {
    color: #fff;
    font-size: 50px;
  }
}

.contact {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.contact__form__input,
.contact__form__textarea {
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 15px;
  outline: none;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


input:focus~label {
  top: -35px;
  font-size: 12px;
}

textarea:focus~label {
  top: -35px;
  font-size: 12px;
}

.contact__form__label {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;

  padding: 10px;
  color: rgb(153, 153, 153);
  font-size: 14px;
  cursor: text;
  transition: 0.4s;

  .icon {
    margin-left: 5px;
  }
}

.contact__form__btn {
  padding: 10px 0;
  outline: none;
  width: 100%;
  border: 0;
  color: #fff;
  background-color: $main-color;
  cursor: pointer;
}


@media screen and (min-width:768px) {

  .input__name,
  .input__phone {
    width: 47%;
  }
}

// End Contact Section

/* Start Footer Section */
.footer__top {
  padding: 50px;
  background-color: #171717;
}

.about__info {
  margin-bottom: 30px;
  text-align: center;
}

.address__info {
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;

  h3 {
    padding: 0;
    margin: 0;
    color: $secondary-color;
    font-size: 18px;
  }

  span {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #5c5c5c;
  }
}

.footer__description {
  margin-bottom: 20px;
  color: #5c5c5c;
  font-size: 15px;
}

.social__icon {
  cursor: pointer;
  color: rgba(204, 204, 204, 0.5);
}

.contact__info {
  margin-bottom: 30px;
  color: #5c5c5c;

  &:last-of-type {
    margin-bottom: 0;
  }

  span {
    display: block;
  }
}

.footer__bottom {
  padding: 25px 0;
  background-color: #111;

  p {
    margin: 0;
    padding: 0;
    color: rgba(128, 128, 128, 0.4);
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .about__info {
    margin-bottom: 0;
    text-align: right;
  }

  .contact__info {
    margin-bottom: 10px;

    span {
      display: inline;
    }
  }

  .address__info {
    text-align: right;
  }
}

/* End Footer Section */