// Start Variables
$main-color: #ff7766;

// Strat General Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
}

body {
  height: 1000px;
}

a {
  text-decoration: none;
}

.btn__primary {
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 12px 25px;
  color: #fff;
  background-color: $main-color;
  letter-spacing: 1px;
  transition: background 0.4s ease-out;

  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

.btn__outline {
  border: 0;
  border: 2px solid $main-color;
  border-radius: 5px;
  padding: 12px 25px;
  color: $main-color;
  background-color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: #fff;
    background-color: $main-color;
  }
}

// Strat General Styles

// Start Header Section
.header {
  background-color: #fafafa;
}

.brand__name {
  margin: 0;
  padding: 12px 40px;
  padding-right: 0;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #444 !important;

  &:hover {
    color: $main-color;
  }
}

.brand__name:hover {
  color: $main-color !important;
}

.hamburger__menu {
  padding: 5px;
  border: 2px solid rgba(68, 68, 68, 0.5) !important;
  border-radius: 0;
  cursor: pointer;

  i {
    font-size: 23px;
  }
}

.header__navbar {
  padding: 0;
}


.navbar__list {
  .navbar__item:first-of-type {
    .navbar__link {
      margin-top: 15px;
    }
  }
}

.navbar__link {
  display: block;
  padding: 22px !important;
  font-weight: 700;

  &:hover {
    color: $main-color !important;
    background-color: #eee;
  }

  &.active {
    color: $main-color !important;
    background-color: #eee;
  }
}



@media screen and (min-width:992px) {
  .header {
    padding: 0;
  }

  .navbar__container {
    ul {
      width: 100%;
    }
  }

  .navbar__link {
    border: 0;
  }

  .navbar__list {
    .navbar__item:first-of-type {
      .navbar__link {
        margin-top: 0;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
      }
    }
  }

}

.box {
  background-color: #000;
  height: 100vh;
}

// End Header Section

// Start Hero Section

.hero__carousel {
  .carousel__indicators {
    button {
      margin: 0 7px;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      &.active {
        background-color: $main-color;
      }
    }

  }

  .carousel__container {
    .carousel__item {
      height: 550px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(65, 155, 155, 0.8);
      background-blend-mode: multiply;

      .carousel__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        text-align: center;

        .carousel__title {
          font-size: 30px;
          line-height: 1.4;

          span {
            display: none;
          }
        }

        .carousel__description {
          margin-top: 7px;
          margin-bottom: 20px;
          padding: 0 10px;
          color: rgba(255, 255, 255, 0.6);
          font-size: 15px;
          line-height: 1.6;
          letter-spacing: 1px;
        }
      }
    }

    .carousel__item:nth-of-type(1) {
      background-image: url('../images/hero/hero-slide-1.webp');
    }

    .carousel__item:nth-of-type(2) {
      background-image: url('../images/hero/hero-slide-2.webp');
    }

    .carousel__item:nth-of-type(3) {
      background-image: url('../images/hero/hero-slide-3.webp');
    }
  }

  .carousel__arrow {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .hero__carousel {
    .carousel__container {
      .carousel__item {
        .carousel__content {
          .carousel__title {
            font-size: 35px;
            font-weight: 600;

            span {
              display: inline;
            }
          }
        }
      }
    }

    .carousel__btn {
      display: block;
    }
  }
}

@media screen and (min-width:992px) {
  .hero__carousel {
    .carousel__container {
      .carousel__item {
        height: 470px;
      }
    }

    .carousel__arrow {
      display: block;
    }
  }
}

// End Hero Section

// Start About Section
.about {
  padding: 50px 0;
  background-color: #fafafa;

  .about__content {
    text-align: center;

    .about__description {
      margin: 25px 0;
      color: #666;
      line-height: 1.7;

      span {
        display: none;
      }
    }
  }
}

@media screen and (min-width:992px) {
  .about {
    .about__content {
      .about__description {
        letter-spacing: 1px;

        span {
          display: inline;
        }
      }
    }
  }
}

// End About Section